.pokemon-search-page {
    background: rgba(255, 255, 255, 0.575);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.pokemon-search-page h2{
    color: #000;
}
.pokemon-search-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1vh 2vh;
}
.pokemon-search-list a {
    margin: .5vh;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px;
    color: #000;
}
.pokemon-search-page input {
    border: none;
    border-bottom: 2px solid #000;
    font-size: 25px;
    background: none;
}