.preview-item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(18, 41, 70);
  background: rgba(255, 255, 255, 0.575);
}
.preview-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 7vh;
}
.item-details-images img {
  width: 15vh;
  height: auto;
  color: #000;
  margin: -.6vh;
  filter: brightness(100%);
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2vh;
}

.preview-item-box h4 {
  font-size: 50px;
}

.item-details-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 2vh 0;
}
.item-details-stats .stats-bar{
  height: 2vh;
  width: 25vh;
  border: 1px solid rgb(18, 41, 70);
}
.item-details-stats .stats-bar .stats-bar-progress{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) { 
  .preview-item {
    margin: 0;
  }
  .item-details-images img {
    margin: 0;
  }
}
