.item-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.575);
  padding: 0;
}

.show-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vh;
  height: 12vh;
  margin: 1.5vh;
  /* border: 1px solid #fff;
  border-radius: 25px; */
}
.show-item img {
  width: 9vh;
  height: 9vh;
}

.show-item span{
  font-size: 15px;
  font-weight: 500;
  color: #000;
}

/* .show-item:hover{
  text-decoration: black;
} */

.pagination {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 1vh 0;
}